POSTGRES_DB=openacts
POSTGRES_USER=openacts_projection
POSTGRES_PASSWORD=
OPENACTS_TEST_DATABASE=openacts_test
OPENACTS_API_USER=openacts_api
OPENACTS_API_PASSWORD=
OPENACTS_POSTGRES_PORT=55432
OPENACTS_CORS_ORIGINS=http://localhost:3000
NEXT_PUBLIC_OPENACTS_API_URL=http://127.0.0.1:8000
