{% extends "base.html" %}
{% block heading %}Jobs{% endblock %}
{% block body %}
{% if not jobs %}
<p>No stage has been run from this console yet.</p>
{% else %}
<table border="1" cellpadding="4">
<tr><th>started</th><th>job</th><th>stage</th><th>mode</th><th>status</th></tr>
{% for job in jobs %}
<tr>
  <td>{{ job.started }}</td>
  <td><a href="/jobs/{{ job.job_id }}">{{ job.job_id }}</a></td>
  <td>{{ job.stage }}</td>
  <td>{{ job.mode }}</td>
  <td>{{ job.status }}</td>
</tr>
{% endfor %}
</table>
<p><small>Times are local; job names carry the UTC stamp they were created with.</small></p>
{% endif %}
{% endblock %}
